@using PetKeeper.Common
@model PetKeeper.Models.UserViewModel


@{
    ViewData["Title"] = "AddRole";
}

<h1>Dodaj/Promeni rolu</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" id="userId" class="form-control" hidden />
            </div>
            <div class="form-group">
                <input asp-for="UserName" id="userName" class="form-control" hidden />
            </div>
            <div class="form-group">
                <input asp-for="Email" id="userEmail" class="form-control" hidden />
            </div>
            <div class="form-group">
                <label>Role:</label>
                <select asp-for="Role" id="roleList" asp-items="Model.Roles" class="form-control">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" id="submitButton" value="Sačuvaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Users">Nazad na listu</a>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        var msg = @Html.Raw(Json.Serialize(Messages.SavedSuccessfully));
        var errorMsg = @Html.Raw(Json.Serialize(Messages.SomethingWentWrong));

        $('#submitButton').click(function (e) {

            var userName = $('#userName').val();
            var userEmail = $('#userEmail').val();
            var roleList = $('#roleList').val();
            var userId = $('#userId').val();

            e.preventDefault();

            var userData = {
                UserName: userName,
                Email: userEmail,
                Role: roleList,
                Id: userId
            }
            $.ajax({
                dataType: "json",
                data: userData,
                type: "POST",
                url: "/Admin/AddRole",
                success: function (result) {
                    if (result) {
                        bootbox.alert(msg, function () {
                            window.location.href = '/Admin/Users'
                        });
                    }
                    else {
                        bootbox.alert(errorMsg);
                    }
                },
            });

        });
    </script>
}