@model PetKeeper.Models.RoleViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 login-scr ">

            <h2>Detalji</h2> <br>
            <div class="row">
                <div>
                    <dl class="row">
                        <dt class="col-md-9">
                            Ime uloge:
                        </dt>
                        <dd class="col-md-3">
                            @Html.DisplayFor(model => model.RoleName)
                        </dd>
                    </dl>

                    <div>
    
    <a asp-action="Edit" asp-route-id="@Model.RoleId">Izmeni</a> |
    <a asp-action="Roles">Nazad na listu</a>
</div>

                </div>

            </div>
        </div>
    </div>
</div>
