@{
    ViewData["Title"] = "Galerija";
}

<h1></h1>

<div class="container gallery-container">


    
    <div class="tz-gallery">

                <h2 class="page-description text-center">Pogledajte gde će vaš ljubimac biti smešten!</h2>


        <div class="row">
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="/images/galerija/01.jpg">
                    <img src="/images/galerija/01.jpg" alt="Park">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="/images/galerija/02.jpg">
                    <img src="/images/galerija/02.jpg" alt="Bridge">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="/images/galerija/03.jpg">
                    <img src="/images/galerija/03.jpg" alt="Tunnel">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="/images/galerija/04.jpg">
                    <img src="/images/galerija/04.jpg" alt="Coast">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="/images/galerija/05.jpg">
                    <img src="/images/galerija/05.jpg" alt="Rails">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="/images/galerija/06.jpg">
                    <img src="/images/galerija/06.jpg" alt="Traffic">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="/images/galerija/07.jpg">
                    <img src="/images/galerija/07.jpg" alt="Rocks">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="/images/galerija/08.jpg">
                    <img src="/images/galerija/08.jpg" alt="Benches">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="/images/galerija/09.jpg">
                    <img src="/images/galerija/09.jpg" alt="Sky">
                </a>
            </div>
        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>

