@{
ViewData["Title"] = "Home Page";
}

<div class="container-flex">
    <div class="row front-all" style="margin: auto">
        <div class="col-sm-1"></div>
        <div class="front-levo col-sm-3">
            <div class="naslov">
                <span> pansion za vašeg kućnog ljubimca</span>
            </div>
            <div class="naslov_ispod">
                <span> online rezervacija 0-24</span>
            </div>
        </div>
        <div class="front-centar col-sm-7">
            <img src="/images/image_front-trans.png" class="center">
        </div>
        <div class="col-sm-1">
        </div>
    </div>
</div>

<section class="section2">
    <div class="container-flex section2-container">
        <div class="row section2-row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                    <div class="col-md-3 mb-3">
                        <div class="card text-white bg-card1 mb-3 h-100" style="max-width: 30rem;">
                            <div class="card-header">
                                <h4 class="list1_title1">Pažnja</h4>
                            </div>
                            <div class="card-body">
                                <div class="thumbnail">
                                    <img class="img-thumbnail1" src="images/druzenje.jpg" alt="kuca1">
                                    <div class="caption caption_list1 maxheight">
                                        <div class="box_inner">
                                            <p class="list1_title1">Stalna briga </p>
                                            <p>Kod nas, vaš ljubimac neće biti usamljen </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card text-white bg-card2 mb-3 h-100" style="max-width: 30rem;">
                            <div class="card-header">
                                <h4 class="list1_title1">Fitnes</h4>
                            </div>
                            <div class="card-body">
                                <div class="thumbnail">
                                    <img class="img-thumbnail1" src="images/trener.jpg" alt="kuca1">
                                    <div class="caption caption_list1 maxheight">
                                        <div class="box_inner">
                                            <p class="list1_title1">Trening</p>
                                            <p>Zasnovano na individulnim potrebama vašeg ljubimca,
                                                naši treneri vam pružaju uslugu poštujući najviše standarde.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card text-white bg-card3 mb-3 h-100" style="max-width: 30rem;">
                            <div class="card-header">
                                <h4 class="list1_title1">Persona</h4>
                            </div>
                            <div class="card-body">
                                <div class="thumbnail">
                                    <img class="img-thumbnail1" src="images/grooming.jpg" alt="kuca1">
                                    <div class="caption caption_list1 maxheight">
                                        <div class="box_inner">
                                            <p class="list1_title1">Grooming</p>
                                            <p>Dok ste na odmoru, vaš ljubimac će imati prvoklasnu negu.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card text-white bg-card4 mb-3 h-100" style="max-width: 30rem;">
                            <div class="card-header">
                                <h4 class="list1_title1">Ishrana</h4>
                            </div>
                            <div class="card-body">
                                <div class="thumbnail">
                                    <img class="img-thumbnail1" src="images/food.jpg" alt="kuca1">
                                    <div class="caption caption_list1 maxheight">
                                        <div class="box_inner">
                                            <p class="list1_title1">Hrana</p>
                                            <p>Najkvalitetnija hrana odabrana prema vašem ljubimcu. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>