@{
    ViewData["Title"] = "Home Page";
}

<div class="naslov">
       <h1> Dobrodošli u PET KEEPER</h1>
       <h3>Sigurno mesto za vaše ljubimce! </h3>
</div>
<div class="row front-all">
    <div class="front-levo col-sm"><!--p> Sigurno <br> mesto za <br> vaše ljubimce! </p--></div>
    <div class="front-centar col-sm"> <img src="/images/dog-01.jpg" class="center"></div>
    <div class="front-desno col-sm"></div>
</div>