@{
    ViewData["Title"] = "Home Page";
}

<div class="naslov">
       <h2> Dobrodošli u PET KEEPER</h2>
       <h4>Sigurno mesto za vaše ljubimce! </h4>
</div>
<div class="row front-all">
    <div class="front-levo col-sm"><!--p> Sigurno <br> mesto za <br> vaše ljubimce! </p--></div>
    <div class="front-centar col-sm"> <img src="/images/page1_bigimg1.jpg" class="center"></div>
    <div class="front-desno col-sm"></div>
</div>

<section class="section2">
    <div class="container">
        <div class="row">
            <ul class="list1">
                <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6 collist1">
                    <div class="pad">
                        <div class="thumbnail">
                            <figure class="small-img">
                                <img class="img-thumbnail1" src="images/page1_bigimg9.jpg" alt="kuca1">
                            </figure>
                            <div class="caption caption_list1 maxheight">
                                <div class="box_inner">
                                    <p class="list1_title1">Hrana za vaše ljubimce</p>
                                    <p>Najkvalitetnija hrana odabrana prema vašem ljubimcu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                                <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6 collist1">
                    <div class="pad">
                        <div class="thumbnail">
                            <figure class="small-img">
                                <img class="img-thumbnail1" src="images/page1_img5.jpg" alt="kuca1">
                            </figure>
                            <div class="caption caption_list1 maxheight">
                                <div class="box_inner">
                                    <p class="list1_title1">Hrana za vaše ljubimce</p>
                                    <p>Najkvalitetnija hrana odabrana prema vašem ljubimcu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6 collist1">
                    <div class="pad">
                        <div class="thumbnail">
                            <figure class="small-img">
                                <img class="img-thumbnail1" src="images/page1_img7.jpg" alt="kuca1">
                            </figure>
                            <div class="caption caption_list1 maxheight">
                                <div class="box_inner">
                                    <p class="list1_title1">Hrana za vaše ljubimce</p>
                                    <p>Najkvalitetnija hrana odabrana prema vašem ljubimcu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6 collist1">
                    <div class="pad">
                        <div class="thumbnail">
                            <figure class="small-img">
                                <img class="img-thumbnail1" src="images/page1_bigimg6.jpg" alt="kuca1">
                            </figure>
                            <div class="caption caption_list1 maxheight">
                                <div class="box_inner">
                                    <p class="list1_title1">Hrana za vaše ljubimce</p>
                                    <p>Najkvalitetnija hrana odabrana prema vašem ljubimcu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
