@{
    ViewData["Title"] = "Kontakt";
}

<div class="container-fluid">
    <div class="row kontakt-row">
        <div class="kontakt_naslov"><h1>Kontakt</h1></div>
    </div>
    <div class="row kontakt-main">
        <div class="col-md-6">
            <h1>
                Lokacija
            </h1>
        </div>
        <div class="col-md-6">
            Kontakt informacije
        </div>
    </div>
</div>

