@{
    ViewData["Title"] = "O nama";
}

<h1></h1>

<div class="container gallery-container">

 
    <div class="tz-gallery">
        <h2 class="page-description text-center" style="color: white;">PetKeeper - pansion za odmor vaših ljubimaca</h2>

        <div class="row">
            <div class="col-sm-12 col-md-6 about_slika">
                <a class="lightbox">
                    <img src="/images/galerija/10.jpg" alt="Park">
                </a>
            </div>

            <div class="col-sm-12 col-md-10 tekst">
                <p styles="color: white;text-shadow: 1px 1px 2px #000000;">Osnovani smo u aprilu 2018. godine, ali možemo slobodno reći da se ljubimcima bavimo već dugo.
                     Ovaj posao smo ranije nazivali hobijem, uživanjem i zabavom. 
                     Svu ljubav prema psima uložili smo u osmišljavanje i opremanje objekta, koji će svojim izgledom i opremom zadovoljiti naše ideje i vaše potrebe, 
                     a pre svega biti bezbedan i siguran za boravak svakom našem gostu. Naš objekat je pod stalnim video nadzorom, kako unutrašnjost prostorija gde 
                     borave psi kada je period odmora ili lošeg vremena tako i spoljašnji prostor namenjen za igru i zabavu.</p>
            <br>
            <br>
            </div>
            <div class="col-sm-12 col-md-6 about_slika">
                <a class="lightbox">
                    <img src="/images/galerija/01.jpg" alt="Park">
                </a>
            </div>

            <div class="col-md-10 tekst">
                <p style="color: white;">Pet Keeper smeštaj za pse nudi uslugu čuvanja pasa na sat ili dan, pri čemu ostaju kod nas sa ili bez noćenja. 
                    Mogu se dogovoriti različite opcije boravka: više dana, nedelja ili nekoliko sati tokom nedelje, 
                    nakon kojih vi dolazite po svog ljubimca ili možemo mi doći po njega u dogovoreno vreme. 
                    Takodje kao i skoro svaki hotel za ljude tako i mi u našem hotelu nudimo i usluge grooming salona, 
                    salona za ulepšavanje pasa kako za korisnike hotela tako i druge klijente. Obezbedili smo i Live Stream kojem 
                    možete da pristupite gde god da se nalazite, i da vidite šta Vaš najbolji prijatelj radi.</p>
            </div>
        </div>

    </div>

</div>
