/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 1200px) {
    .container {
        max-width: 2036px;
    }
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* START PDESAVANJA FRONT PAGE-a */
@font-face{
  font-family: "Bitter";
src: url("../fonts/Bitter-Bold.otf")
}

/* pozadinska boja */
.bg-primary{
  background-color: #332548 !important;
}

/* pozadinska slika */
body {
  background-color: #e3ded2;
  background-image: url("/images/bg1.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: auto;
}
/* END PDESAVANJA FRONT PAGE-a */

/* START NAVIGATION BAR */
/* logo i naslov - levi deo navigation bara */
.navbar-brand{
  margin-left: 10px;
  font-family:"Bitter";
  font-weight: bolder;
  font-size: 2vw;
}

/* centriranje menija na sredinu */
 .navbar-nav{
   margin-left: 20px;
   font-size: 1vw;
  /* text-align: center;
  justify-content: center; */
}

/* font texta navigation bara */
.text-light {
  font-family:"Bitter";
}
/* END NAVIGATION BAR */

/* START FRONT-ALL(srednji deo) */
/* naslov na levoj strani */
.naslov {
  padding-left: 7%;
  text-align: center;
  width: auto;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Bitter";
  font-style: italic;
  font-size: 4vw;
  color: #463266;
  background-color: #9900ff00;
  color: #FFFFFF;
text-shadow: 0 0 3px rgb(255, 255, 255);

}

/* tekst ispod naslova */
.naslov_ispod{
  font-size: 1.5vw;
  text-align: center;
  background: rgba(52, 35, 68, 0.678);


}

.front-all{
  margin-top: 2%;
  margin-bottom: 0%;
}

/* divs sa leve strane */
.front-levo{
  font-family: "Bitter";
  font-style: italic;
  color: #ffffff;
  /*background-color:#CB8AFF;*/
}

/* margina od navigation bar-a */
.front-centar{
  margin-top: 50px;
}

/* centralna slika */
.front-centar img{
  height: auto;
  width: auto;
  max-width: 100%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
/* END FRONT-ALL(srednji deo) */


/* START DONJI DEO FRONT PAGE-A */
.section2{
  padding: 30px 0 16px;
  background-color: #332548;
}

.section2-container{
  padding-top: 30px;;
  padding-left: 7%;
  padding-right: 7%;
  /* background-color: #6c5b799f; */
  }
.section2-row{
  display: flex;
  justify-content: center;
}

@media (min-width: 1200px){
.col-lg-3 {
    width: 25%;
  }
}

/* .thumbnail {
  line-height: 0 !important;
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: none;
} */

/* podesavanja slike */
.img-thumbnail1 {
  padding: 5px;
  border: 1px solid #c0c0c0;
  border-radius: 0;
  background: transparent;
  height: auto;
  width: auto;
  max-width: 100%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/* naslov i tekst ispod slike */
.caption_list1 {
  padding: 0 0;
  margin: 10px;
}

/* naslov ispod slike */
.list1_title1 {
  text-align: center;
  position: relative;
  display: block;
  font-family: 'Open Sans', sans-serif, "Bitter";
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: rgb(223, 223, 223) !important;
  padding: 0;
  margin: 0 0 3px !important;
  /* background-color: #BEAFC2; */

}

/* tekst ispod slike */
p {
  font-family: 'Open Sans', sans-serif, "Bitter";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #cccccc;
  margin: 0;
  padding: 3px;
  margin-bottom: 14px;
}
/* END DONJI DEO FRONT PAGE-A */


.btn-sm {
    border-radius: 3px;
    width: 100px;
}

.btn-danger {
  background-color: #ff3333;
}
