/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
/* @media (min-width: 1200px) {
    .container {
        max-width: 2036px;
    }
} */
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
 
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* START PDESAVANJA FRONT PAGE-a */
@font-face{
  font-family: "Bitter";
src: url("../fonts/Bitter-Bold.otf")
}

@font-face{
  font-family: "Bitter-reg";
src: url("../fonts/Bitter-Regular.otf")
}

@font-face{
  font-family: "SourceSansPro";
src: url("../fonts/SourceSansPro-Regular.ttf")
}



/* pozadinska boja */
.bg-primary{
  background-color: #332548 !important;
}

/* pozadinska slika */
body {
  background-color: #e3ded2;
  background-image: url("/images/bg1.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: auto;
}
/* END PDESAVANJA FRONT PAGE-a */

/* START NAVIGATION BAR */
/* logo i naslov - levi deo navigation bara */
.navbar-brand{
  margin-left: 10px;
  font-family:"Bitter";
  font-weight: bolder;
  font-size: 2.5em;
}

/* centriranje menija na sredinu */
 .navbar-nav{
   margin-left: 20px;
  /* text-align: center;
  justify-content: center; */
}

/* font texta navigation bara */
.text-light {
  /* font-family:"Bitter"; */
  font-size: 1.7vh;
  font-family: 'SourceSansPro','Helvetica Neue',Helvetica,Arial,sans-serif;

}

@media (max-width: 1200px){
  .text-light{
    font-size: 0.8em;
  }
}
/* END NAVIGATION BAR */

/* START FRONT-ALL(srednji deo) */
/* naslov na levoj strani */
.naslov {
  padding-left: 7%;
  text-align: center;
  width: auto;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Bitter";
  font-style: italic;
  font-size: 4vw;
  color: #463266;
  background-color: #9900ff00;
  color: #FFFFFF;
text-shadow: 0 0 3px rgb(255, 255, 255);
}

@media (max-width: 1200px){
  .naslov{
    font-size: 1.3em;
  }
}


/* tekst ispod naslova */
.naslov_ispod{
  font-size: 1.5vw;
  text-align: center;
  background: rgba(52, 35, 68, 0.678);
}

@media (max-width: 1200px){
  .naslov_ispod{
    font-size: 1em;
  }
}

/* divs sa leve strane */
.front-levo{
  font-family: "Bitter";
  font-style: italic;
  color: #ffffff;
}

/* margina od navigation bar-a */
.front-centar{
  margin-top: 100px;
}

/* centralna slika */
.front-centar img{
  height: auto;
  width: auto;
  max-width: 100%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
/* END FRONT-ALL(srednji deo) */


/* START DONJI DEO FRONT PAGE-A */
.section2{
  padding: 30px 0 16px;
  background-color: #332548;
  /* background-color: #695E93; */
}

.section2-container{
  padding-top: 30px;
  padding-left: 7%;
  padding-right: 7%;
  /* background-color: #6c5b799f; */
  }
.section2-row{
  display: flex;
  justify-content: center;
}

@media (min-width: 1200px){
.col-lg-3 {
    width: 25%;
  }
}

/* .thumbnail {
  line-height: 0 !important;
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: none;
} */
.bg-card1{
  background-color:#8155BA;
}

.bg-card2{
  background-color:#695E93;
}

.bg-card3{
  background-color:#BEAFC2;
}

.bg-card4{
  background-color:#8155BA;
}

/* podesavanja slike */
.img-thumbnail1 {
  padding: 5px;
  border: 1px solid #c0c0c0;
  border-radius: 0;
  background: transparent;
  height: auto;
  width: auto;
  max-width: 100%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/* naslov i tekst ispod slike */
.caption_list1 {
  padding: 0 0;
  margin: 10px;
}

/* naslov ispod slike */
.list1_title1 {
  text-align: center;
  position: relative;
  display: block;
  font-family: "Bitter";
  font-size: 1.2vw;
  /* font-size: 18px; */
  line-height: 24px;
  font-weight: 800;
  color: rgb(223, 223, 223) !important;
  padding: 0;
  margin: 0 0 3px !important;
  /* background-color: #BEAFC2; */
}

@media (max-width: 1200px){
  .list1_title1{
    font-size: 1.3em;
  }
}


/* tekst ispod slike */
p {
  font-family: 'Open Sans', sans-serif, "Bitter";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  padding: 3px;
  margin-bottom: 14px;
}
/* END DONJI DEO FRONT PAGE-A */


.btn-sm {
    border-radius: 3px;
    width: auto;
    font-weight: bold;
}

@media (max-width: 1400px){
  .btn-sm{
  font-size: 0.9em;
}
}


.btn-danger {
  background-color: #ff3333;
}

/* START REZERVACIJE */
/* tabela */
.rezervacije-tbl{
  background-color:#f3f3f3;
  color: rgb(65, 65, 65);
  font-family: 'SourceSansPro','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 16px;
  margin: auto;
  width: 50% !important;
}

@media (max-width: 1400px){
  .rezervacije-tbl{
    font-size: 0.9em;
  }
}

.btn-kreiraj{
  display: flex;
  justify-content: center;
  font-family: "Bitter";
  border-radius: 7px;
  
}

.btn-kreiraj h4{
  margin-bottom: 0;
}

.btn-kreiraj button{
  background-color: #a991d4;
  color: #ffffff;
}

.podaci p{
  font-family: "Bitter";
  font-size: 1.1em;
}

.card{
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 9px 2px rgba(82,82,82,1);
  -moz-box-shadow: 0px 0px 9px 2px rgba(82,82,82,1);
  box-shadow: 0px 0px 9px 2px rgba(82,82,82,1);
}

/* .btn-reserve{
  background-color: #c0c0c0;
} */
/* END REZERVACIJE */

/* START LOGIN */
.login-scr{
  padding: 20px;
  max-width: 70%;
  margin: auto;
  margin-top: 150px;
  background-color:whitesmoke ;
  color: #332548;
  font-family: 'SourceSansPro','Helvetica Neue',Helvetica,Arial,sans-serif;
}
/* END LOGIN */

/* START KONTAKT */
.kontakt_naslov{
  text-align: center;
  width: auto;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Bitter";
  font-style: italic;
  font-size: 4vw;
  color: #463266;
  color: #FFFFFF;
text-shadow: 0 0 3px rgb(255, 255, 255);
}

.text-center{
  margin-top: 40px;
}


.kontakt-row{
  background-color: #8200be65;
}

.kontakt-main{
  background-color: #e3ded2b0;
  text-align: center;
  font-family: "Bitter";
  font-style: italic;
  width: 100%;
  margin: auto;
}

.tz-kontakt{
  padding: 0;
}

.fa-facebook-f{
  color: #4e71ba ;
}

.fa-twitter{
  color: #1DA1F2;
}

.fa-google-plus-g{
  color:#db4a39 ;
}

.fa-linkedin-in{
  color: #1293d2 ;
}

.fb-like{
  width: 50%;
  margin: auto;
  color: rgb(255, 255, 255);
}

/* END KONTAKT */

/* START O NAMA */

.page-description{
  margin-bottom: 2em;
  color: rgb(0, 0, 0);
  font-family: 'SourceSansPro','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px #000000;
}

.kontakt-naslov{
  color: #392853;
  text-shadow: 1px 1px 2px #e6e6e6;

}


.about_slika{
  width: 100%;
  margin: auto;
}

.tekst{
  border-left: 6px solid rgb(255, 255, 255);
  width: 100%;
  margin: auto;
}

.tekst p{
  color: rgb(0, 0, 0);
  font-family: 'SourceSansPro','Helvetica Neue',Helvetica,Arial,sans-serif;
  /* font-family: "Bitter-reg"; */
  font-size: 1.3em;
  text-align: justify;
  text-indent: 1cm;
  line-height: 1.6;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px #000000;
}