/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 1600px) {
    .container {
        max-width: 2036px;
    }
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Front page */
@font-face{
  font-family: "Bitter";
src: url("../fonts/Bitter-Bold.otf")
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand{
  margin-left: 10px;
  font-family:"Bitter";
  font-weight: bolder;
  font-size: 1.6em;
}

.navbar-nav{
  text-align: center;
  justify-content: center;
}

.text-light {
  font-family:"Bitter";
}

.naslov {
  border: 5px solid #593196;
  border-radius: 15px;
  text-align: center;
  width: 50%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Bitter";
  font-style: italic;
  background-color: #CB8AFF;
  color: #593196;
}

.front-all{
  margin-top: 2%;
}

.front-levo{
  font-family: "Bitter";
  font-style: italic;
  font-size: 3em;
  color: rgb(77, 59, 143);
  /*background-color:#CB8AFF;*/
}

.front-centar{
  justify-content: end;
  margin: 10px;
}

.section2{
  padding: 52px 0 16px;
  background-color: #593196;
}

.list1 {
  text-align: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 100;
  width: 100%;
}

.list1, .collist1 {
  display: flex;
}

.list1 li {
  overflow: hidden;
  position: relative;
  list-style: none;
  margin-bottom: 20px;
}

@media (min-width: 1200px){
.col-lg-3 {
    width: 25%;
  }
}

.pad {
  padding: 0 !important;
}

.thumbnail {
  line-height: 0 !important;
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: none;
}

.list1 li figure {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.img-thumbnail1 {
  padding: 5px;
  border: 1px solid #7b7b7b;
  border-radius: 0;
  background: transparent;
}

.small-img{
  width: 100px;
  height: 230px;
}

.list1 li figure img {
  max-width: 100%;
  max-height: 100%;
}

.list1 li .caption_list1 {
  padding: 5px 0;
}

.list1_title1 {
  text-align: left;
  position: relative;
  display: block;
  font-family: "Bitter";
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #FFF !important;
  padding: 0;
  margin: 0 0 1px !important;
}

p {
  font-family: "Bitter";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #9b9c9d;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
}
.btn-sm {
    border-radius: 3px;
    width: 100px;
}

.btn-danger {
    background-color: #ff3333;
}