@{
Layout = "/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12 login-scr">

            <h1>Podešavanja korisničkog naloga</h1>
            <h4>Ažuriranje podataka</h4>
            <hr />
            <div class="row">
                <div class="col-md-3">
                    <partial name="_ManageNav" />
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
@RenderSection("Scripts", required: false)
}