@page
@model ForgotPasswordConfirmation
@{
ViewData["Title"] = "Zaboravljena lozinka";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 login-scr">
            <h1>@ViewData["Title"]</h1>
            <hr>
            <section>
                <h4>
                    Proverite vaš e-mail kako bi ste promenili lozinku.
                </h4>
            </section>
        </div>
    </div>
</div>